@import "../assets/fonts/google-fonts.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  color: #47525e;
}

html,
body {
  background-color: #304050;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  font-family: "Lato", sans-serif;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
